* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.RecipesContainer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.RecipeCard {
  background: white;
  width: 270px;
  margin: 10px;
  border-radius: 15px;
}

.CardImage {
  height: 18vh;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 15px 15px;
  margin-top: 10px;
  padding-left: 8px;
}

.RecipeCard h3 {
  padding: 10px;
}

.RecipeCard p {
  padding: 10px;
}

.RecipeCard a {
  background-color: black;
  color: white;
  padding: 15px 20px;
  display: block;
  text-align: center;
  margin: 20px 50px;
}

.RecipeCard:hover {
  background-color: #FE5E54;
  color: white;
  cursor: pointer;
  transform: scale(1.03);
  transition: all .3s ease
}